<!doctype html>
<html lang="en" ng-app="progressIndicatorApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Circular Indicator App</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="d3.js" charset="utf-8"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="IndicatorCtrl">
 
  <p>
  Expected: <input type="number" min="0" max="1" ng-model="expected" placeholder="0.75" step=".1">
  <p>
  Actual: <input type="number" min="0" max="1" ng-model="actual" placeholder="0.75" step=".1">
  <p>
  <ng-arc actual="actual" expected="expected"></ng-arc>
  <hr>
  <ng-arc actual=".50" expected=".8"></ng-arc>
  <ng-arc actual=".10" expected="1"></ng-arc>

  <ng-arc actual="1.2" expected=".2"></ng-arc>
  <ng-arc actual="-2" expected=".75"></ng-arc>
  

</body>
</html>
