<!doctype html>
<html lang="en" ng-app="progressIndicatorApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Circular Indicator App</title>

  <link rel="stylesheet" href="app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js" charset="utf-8"></script>
</head>
<body ng-controller="IndicatorCtrl">
 
  <div>
    Expected: <input type="number" min="0" max="1" ng-model="expected">
  </div>
  <div>
    Actual: <input type="number" min="0" max="1" ng-model="actual">
  </div>




  <p>Expected: {{expected}}</p>
  <p>Actual: {{actual}}</p>

<div circular-directive></div>


</body>
</html>
